#history-table-header {

    #history-table-title {
        font-weight: bold;
        padding: 2rem 2rem 0 0;
    }

    .sw-button {
        margin-right: 2rem;
    }

    #captureButton {
        background-color: lawngreen;
    }

    #refundButton {
        background-color: orange;
    }

    #voidButton {
        background-color: lightgray;
    }

    #orderCompleteButton {
        background-color: lawngreen;
    }

}